.catch-rankings {
  background-color: var(--back-gray);
}

.catch-rankings__container {
  padding: 30px 0;
}

.catch-ranking__img {
  height: 116px;
  width: 181px;
}

.catch-rankings-tabs__list {
  display: flex;
  justify-content: center;
}

.catch-rankings-tabs__list li {
  cursor: pointer;
  width: 155px;
  height: 40px;
  background-color: var(--white);
  color: var(--prtimes-blue);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--back-gray);
}

.catch-rankings-tabs__list li:hover {
  background-color: var(--prtimes-blue);
  color: var(--white);
}

.catch-ranking__container {
  width: 181px;
  height: 244px;
}
.catch-ranking__rank-number {
  width: 24px;
  height: 24px;
  background-color: var(--prtimes-blue);
  font-size: 17px;
  color: var(--white);
  font-weight: bold;
  font-style: italic;
  position: absolute;
  text-align: center;
  padding: 2px 0 10px 0px;
}

.catch-rankings-links__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
}

.catch-rankings-links__list li + li {
  border-left: 8px solid var(--back-gray);
}

.catch-rankings-links__item {
  width: 181px;
  height: 244px;
  background-color: var(--white);
}

.catch-ranking__content {
  padding: 7px 10px;
}

.catch-ranking__title {
  font-size: 13px;
  color: var(--black);
  cursor: pointer;
  line-height: 1.5;
}

.catch-ranking__title:hover {
  color: var(--link-blue);
  text-decoration: underline;
}

.catch-ranking__info {
  color: var(--script-dark-gray);
  padding-top: 28px;
}

.catch-ranking__time {
  font-size: 12px;
}

.catch-ranking__company-name {
  font-size: 13px;
  cursor: pointer;
  padding-top: 3px;
}

.catch-ranking__company-name:hover {
  color: var(--black);
}
